<table class="table table-striped" width="100%">
  <tr>
    <td width="20%">Rails</td>
    <td width="80%"><a href="#">哪个项目是你认为的最适合新手源码学习的Rails开源应用？</a></td>
  </tr>
  <tr>
    <td width="20%">分享</td>
    <td width="80%"><a href="#">用 Backup 和 Whenever 进行备份</a></td>
  </tr>
  <tr>
    <td width="20%">新手问题</td>
    <td width="80%"><a href="#">(活动已结束) 周四晚现场编程网上演示 面向新手</a></td>
  </tr>
  <tr>
    <td width="20%">Gem</td>
    <td width="80%"><a href="#">garelic - 在 Google 分析里面实现简单的 Rails 性能报告</a></td>
  </tr>
  <tr>
    <td width="20%">其他</td>
    <td width="80%"><a href="#">小团队特征</a></td>
  </tr>
  <tr>
    <td width="20%">分享</td>
    <td width="80%"><a href="#">让你的 OSX 拥有完整的 Emacs Binding.</a></td>
  </tr>
</table>
