<table class="table table-striped" width="100%">
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">feature spec / integration spec( request spec) / controller spec 的区别</a> <small>2ヶ月前</small></td>
    <td width="10%">2/1</td>
  </tr>
  <tr>
    <td width="10%">初心者質問</td>
    <td width="80%"><a href="#">ruby-china 里面，ajax 如何实现的？ </a> <small>3ヶ月前</small></td>
    <td width="10%">7/0</td>
  </tr>
  <tr>
    <td width="10%">初心者問題</td>
    <td width="80%"><a href="#">类似性别选项这样的固定分类如何做 i18n 国际化对应 /a> <small>2ヶ月前</small></td>
    <td width="10%">7/0</td>
  </tr>
  <tr>
    <td width="10%">初心者問題</td>
    <td width="80%"><a href="#">网页上想要的效果和 Model 的对应关系弄不明白了</a> <small>3ヶ月前</small></td>
    <td width="10%">2/1</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">feature spec / integration spec( request spec) / controller spec 的区别</a> <small>2ヶ月前</small></td>
    <td width="10%">12/1</td>
  </tr>
  <tr>
    <td width="10%">反馈</td>
    <td width="80%"><a href="#">[已解决]貌似RSS不更新了？ </a> <small>8ヶ月前</small></td>
    <td width="10%">10/1</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -11</a> <small>8ヶ月前</small></td>
    <td width="10%">7/1</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -10</a> <small>8ヶ月前</small></td>
    <td width="10%">0/0</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -9</a> <small>8ヶ月前</small></td>
    <td width="10%">0/0</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -8</a> <small>8ヶ月前</small></td>
    <td width="10%">0/0</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -7</a> <small>8ヶ月前</small></td>
    <td width="10%">0/0</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -6</a> <small>8ヶ月前</small></td>
    <td width="10%">0/0</td>
  </tr>
  <tr>
    <td width="10%">Testing</td>
    <td width="80%"><a href="#">使用 RSpec+Capybara 简单BDD入门 -5</a> <small>8ヶ月前</small></td>
    <td width="10%">0/0</td>
  </tr>
</table>
