.row
  .col-lg-12
    ul.breadcrumb
      li.active
        | Home
#account
  .row
    .col-lg-9
      .panel.panel-default
        .panel-body
          form.form-horizontal[action="" rolw="form"]
            fieldset
              legend
                | アカウント情報設定
              .form-group
                label.col-lg-2.col-lg-offset-1.control-label[for=""]
                  | 表示名称
                .col-lg-6
                  input.form-control[type="text"]
              .form-group
                label.col-lg-2.col-lg-offset-1.control-label[for="Email"]
                  | Emal
                .col-lg-6
                  input.form-control[type="email"]
              .form-group
                label.col-lg-2.col-lg-offset-1.control-label[for="text"]
                  | Twitter
                .col-lg-6
                  input.form-control[type="text"]
              .form-group
                label.col-lg-2.col-lg-offset-1.control-label[for="text"]
                  | ホームページ
                .col-lg-6
                  input.form-control[type="text"]
              .form-group
                label.col-lg-2.col-lg-offset-1.control-label[for="text"]
                  | 署名
                .col-lg-6
                  input.form-control[type="text"]
              .form-group
                label.col-lg-2.col-lg-offset-1.control-label[for="text"]
                  | 自己紹介
                .col-lg-6
                  textarea#.form-control[name="" rows="5"]
              .form-group
                .col-lg-offset-3.col-lg-10
                  a.btn.btn-primary[href=""]
                    | 資料を更新
      .panel.panel-default
        .panel-body
          form.form-horizontal[action="" rolw="form"]
            fieldset
              legend
                | パスワード変更
              .form-group
                label.col-lg-3.control-label[for=""]
                  | 今のパスワード
                .col-lg-6
                  input.form-control[type="password"]
              .form-group
                label.col-lg-3.control-label[for=""]
                  | 新しいパスワード
                .col-lg-6
                  input.form-control[type="password"]
              .form-group
                label.col-lg-3.control-label[for=""]
                  | 新しいパスワード確認
                .col-lg-6
                  input.form-control[type="password"]
              .form-gorup
                .col-lg-6.col-lg-offset-3
                  a.btn.btn-primary[href=""]
                    | パスワードを変更
    .col-lg-3
      .panel.panel-default
        .panel-body
          center
            = image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png"
          small
            a[href="#"]
              | gravatar.com
            | でアイコンを変更出来ます
      .panel.panel-danger
        .panel-heading.text-center
          | アカウント削除
        .panel-body.text-center
          a.btn.btn-danger[href=""]
            | アカウントを削除
