<div class="row">
  <div class="col-lg-12">
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">オープンソース</a></li>
      <li class="active">新規スレッド</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="new_topic" class="form-horizontal" role="form" >
          <div class="form-group">
            <div class="col-lg-3">
              <select for="" class=" form-control">
                <option value="">Rails</option>
                <option value="">Gem</option>
                <option value="">Testing</option>
              </select>
            </div>
            <div class="col-lg-9">
              <input type="text" class="form-control" placeholder="タイトルを入力してください">
            </div>
          </div>
          <textarea name="" id="" rows="20" class="form-control"></textarea>
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="submit" class="btn btn-info">プレビュー</button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-lg-3 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">オープンソースプロジェクト</div>
      <div class="panel-body">
        <p>オープンソースプロジェクトをシェアし、設計と使用を議論する</p>
        <a href="" class="btn btn-success">スレッドを作成</a>
      </div>
    </div>
  </div>
</div>
