<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#account" data-toggle="tab">アカウント情報</a></li>
      <li><a href="#topics" data-toggle="tab">スレッド</a></li>
      <li><a href="#favorites" data-toggle="tab">お気に入り</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="tab-content">
      <div class="tab-pane active" id="account">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-lg-2">
              <center>
                <%= image_tag "http://gravatar.com/avatar/aaaaaaaaaaaa.png" %>
              </center>
            </div>
            <div class="col-lg-10">
              <dl class="dl-horizontal">
                <dt></dt>
                <dd>第 2650 名会員</dd>
                <dt>ID</dt>
                <dd>blueplanet</dd>
                <dt>Twitter</dt>
                <dd><a href="#">@blueplanet42</a></dd>
                <dt>サインアップ</dt>
                <dd>2012年6月25日</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">お気に入り数が多いスレッド</div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="pull-right">
                お気に入り <span class="badge">39</span> 件、書き込み <span class="badge">13</span> 件
              </div>
              <span class="label label-default">Testing</span>
              <a href="#">使用 RSpec + Capybara 简单 BDD 入门 -目录</a>
            </li>
            <li class="list-group-item">
              <div class="pull-right">
                お気に入り <span class="badge">2</span> 件、書き込み <span class="badge">4</span> 件
              </div>
              <span class="label label-default">Testing</span>
              <a href="#">使用 RSpec+Capybara 简单BDD入门 -1</a>
            </li>
            <li class="list-group-item">
              <div class="pull-right">
                お気に入り <span class="badge">1</span> 件、書き込み <span class="badge">2</span> 件
              </div>
              <span class="label label-default">Testing</span>
              <a href="#">feature spec / integration spec( request spec) / controller spec 的区别</a>
            </li>
            <li class="list-group-item">
              <div class="pull-right">
                お気に入り <span class="badge">0</span> 件、書き込み <span class="badge">7</span> 件
              </div>
              <span class="label label-default">初心者質問</span>
              <a href="#">ruby-china 里面，ajax 如何实现的？</a>
            </li>
            <li class="list-group-item">
              <div class="pull-right">
                お気に入り <span class="badge">0</span> 件、書き込み <span class="badge">7</span> 件
              </div>
              <span class="label label-default">初心者質問</span>
              <a href="#">类似性别选项这样的固定分类如何做 i18n 国际化对应</a>
            </li>
          </ul>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">最近の書き込み</div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">使用 RSpec 测试 Rails 程序</a>
              <span>at 15 日前</span>
              <p>
                简单看了下样书，觉得写的很用心。内容正好是最近关注的RSpec + Rails 4.0。<br>
双倍支持！！！:+1::+1:
              </p>
            </li>
            <li class="list-group-item">
              <a href="#">使用 RSpec+Capybara 简单BDD入门 -1 </a>
              <span>at 2ヶ月前</span>
              <p>
                #2楼 @gelihai1991 貌似你并没有执行测试吧？显示是<br>
<pre>
No examples found.
0 examples, 0 failures
</pre>
              </p>
            </li>
            <li class="list-group-item">
              <a href="#">使用 RSpec+Capybara 简单BDD入门 -1 </a>
              <span>at 2ヶ月前</span>
              <p>
                #2楼 @gelihai1991 貌似你并没有执行测试吧？显示是<br>
<pre>
No examples found.
0 examples, 0 failures
</pre>
              </p>
            </li>
            <li class="list-group-item">
              <a href="#">使用 RSpec+Capybara 简单BDD入门 -1 </a>
              <span>at 2ヶ月前</span>
              <p>
                #2楼 @gelihai1991 貌似你并没有执行测试吧？显示是<br>
<pre>
No examples found.
0 examples, 0 failures
</pre>
              </p>
            </li>
            <li class="list-group-item">
              <a href="#">使用 RSpec+Capybara 简单BDD入门 -1 </a>
              <span>at 2ヶ月前</span>
              <p>
                #2楼 @gelihai1991 貌似你并没有执行测试吧？显示是<br>
<pre>
No examples found.
0 examples, 0 failures
</pre>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="topics"></div>
      <div class="tab-pane" id="favorites"></div>
    </div>
  </div>
</div>
