.node-title {
  font-size: 2em;
  margin: 0px;
}

.topic-item {
  padding-bottom: 10px;

  .gravatar {
    width: 56px;
    height: 56px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  .right_info {
    padding-left: 66px;

    .infos {
      padding-right: 74px;
    }

    .title {
      padding-bottom: 10px;
    }

    .label {
      font-size: 18px;
      margin-top: 12px;
    }
  }
}

ul.pagination {
  margin: 0px;
}

.node-tags {
  padding: 15px;

  label {
    font-size: 14px;
    line-height: 30px;
  }
}

#sections {
  ul {
    li {
      label {
        width: 120px;
        text-align: right;
        padding-right: 10px;
        color: #999;
        float: left;
      }

      a {
        margin-right: 10px;
      }
    }
  }
}
