doctype
html
  head
    title
      | SimpleBBS
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    nav.navbar.navbar-inverse.navbar-fixed-top[role="navigation"]
      .container
        .navbar-header
          a.navbar-brand[href="#"]
            | SimpleBBS
    .container
      = render 'notice'
      = render 'alert'
      = yield
    nav.navbar.navbar-static-bottom[role="navigation"]
      .container
        hr
        .pull-left
          = link_to "https://github.com/blueplanet/simple_bbs", class: 'btn btn-default' do
            i.icon-github
            |  blueplanet/simple_bbs
